<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="app.js"></script>
</head>
<body>
<div id="container">
	
	<div class="message">
    {{messages.info}}
    </div>
	{{{body}}}
</div>

</body>
</html>
